caption, thead, tr, td, p, button{
    font-family: Arial, Helvetica, sans-serif;
}


caption{
    text-align: start;
    font-size: 20px;
    margin: 10px 0;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 95%;
    margin: 0 auto;
}

.styled-table thead tr {
    background-color: #48dbfb;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #48dbfb;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #48dbfb;
}

.actions{
    width: 200px;
}

.actions button{
    margin: 0 3px;
}

button{
    border-style: none;
    padding: 8px;
    border-radius: 3px;
}

.btn-view:hover{
    background: #48dbfb;
    color: white;
    cursor: pointer;
}

.btn-del:hover{
    background: #ff6b6b;
    color: white;
    cursor: pointer;
}